.score {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.score__result {
  font-size: 7.2rem;
  line-height: 9.4rem;
  color: #fff;
  font-weight: 200;
  margin: 0;
}